{% extends "base.html" %}
{% load static %}
{% block css %}
    <link rel="stylesheet"
          type="text/css"
          href="{% static 'UniWeb/campus.css' %}">
{% endblock %}
{% block title %}UÝJ{% endblock %}
{% block nav %}
    <a class="navbar-brand" href="{% url 'home' %}" style="opacity: 0.8;">
        <img width="90rem" src="{% static 'UniWeb/images/logo.png' %}" alt="">
    </a>
    <button class="navbar-toggler collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarColor03"
            aria-controls="navbarColor03"
            aria-expanded="false"
            aria-label="Toggle navigation"
            style="background-color: #fff">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor03">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item pe-1">
                <a class="nav-link" href="{% url 'admissions_view' %}">
                    <p class="h6 poppins mb-lg-2 mb-0">Kabul edilişik</p>
                </a>
            </li>
            <li class="nav-item pe-1">
                <a class="nav-link active" href="{% url 'campus_view' %}">
                    <p class="h6 poppins mb-lg-2 mb-0">UÝJ</p>
                </a>
            </li>
            <li class="nav-item pe-1">
                <a class="nav-link" href="{% url 'about_view' %}" aria-current="page">
                    <p class="h6 poppins mb-lg-2 mb-0">Biz barada</p>
                </a>
            </li>
        </ul>
    </div>
{% endblock %}
{% block content %}
    <div class="conatiner-fluid top-fluid-container">
        <div class="container-xl">
            <div class="container-lg hero-heading px-0">
                <span class="gradient-heading">{{ page_data.first_header }}</span>
            </div>
            <div class="container-lg heading-text-normal">
                <span>{{ page_data.first_sub_header }}</span>
            </div>
            <div class="container-lg">
                <div class="row justify-content-center small-cards-all">
                    {% for card in page_data.first_info_columns_block.all %}
                        <div class="col-4 small-cards glass-container">
                            <span class="st-main">{{ card.expression }}</span>
                            <span class="st-sub">{{ card.value }}</span>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="container-xl my-content-container">
            <div class="container-lg gradient-heading px-0">{{ page_data.second_header }}</div>
            <div class="container-lg heading-text-normal">
                <span>{{ page_data.second_sub_header }}</span>
            </div>
            <div class="container-lg mb-5">
                <div class="row justify-content-center glass-container wide-card-main">
                    {% for card in page_data.second_info_columns_block.all %}
                        <div class="col-4 wide-cards">
                            <span class="st-main">{{ card.expression }}</span>
                            <span class="st-sub">{{ card.value }}</span>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid my-content-container-2">
        <div class="row">
            <div class="col-xl-6 col-lg-12 col-12 image-companion">
                <span class="sub-gradient-text">{{ page_data.first_thumb_header }}</span>
                <br>
                <span class="medium-inter">{{ page_data.first_thumb_sub_header }}</span>
                <div class="thick-gradient-line"></div>
            </div>
            <div class="col-xl-6 col-lg-12 col-12">
                <div class="glass-container image-container-fix">
                    <img src="/media/{{ page_data.first_thumb_image }}"
                         alt="campus"
                         class="img-fluid">
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid my-content-container-2">
        <div class="row">
            <div class="col-xl-6 col-lg-12 col-12 image-companion">
                <span class="sub-gradient-text">{{ page_data.second_thumb_header }}</span>
                <br>
                <span class="medium-inter">{{ page_data.second_thumb_sub_header }}</span>
                <div class="thick-gradient-line"></div>
                <div class="container p-0 ms-2">
                    <div class="row glass-container wide-card-small">
                        {% for campus in campuses %}
                            <div class="col-xl-4 col-4 wide-card-items">
                                <span class="st-main-small">{{ campus.name }}</span>
                                <span class="st-sub-small">{{ campus.capacity }}</span>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-12 col-12">
                <div class="glass-container image-container-fix">
                    <img src="/media/{{ page_data.second_thumb_image }}"
                         alt="hostel"
                         class="img-fluid">
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid my-container-fluid pb-0 mb-0 justify-content-center">
        <footer class="container-xl">
            <div class="row my-4 justify-content-center py-5">
                <div class="col-11">
                    <div class="row">
                        <div class="col-xl-8 col-md-4 col-sm-4 col-12 my-auto mx-auto a">
                            <img class="mb-5 mx-auto"
                                 width="180rem"
                                 src="{% static 'UniWeb/images/logo.png' %}"
                                 alt="">
                        </div>
                        <div class="col-xl-2 col-md-4 col-sm-4 col-12">
                            <h6 class="footer-h6 mb-3 mb-lg-4 bold-text text-muted">
                                <b>GYSGA SALGYLAR</b>
                            </h6>
                            <ul class="list-unstyled footer-ul">
                                <a class="footer-a footer-menu-links" href="{% url 'campus_view' %}">
                                    <li>UÝJ</li>
                                </a>
                                <a class="footer-a footer-menu-links" href="{% url 'admissions_view' %}">
                                    <li>Kabul edilişik</li>
                                </a>
                                <a class="footer-a footer-menu-links" href="{% url 'about_view' %}">
                                    <li>Biz barada</li>
                                </a>
                            </ul>
                        </div>
                        <div class="col-xl-2 col-md-4 col-sm-4 col-12">
                            <h6 class="footer-h6 mb-3 mb-lg-4 text-muted bold-text mt-sm-0 mt-5">
                                <b>SALGY</b>
                            </h6>
                            <p class="footer-p mb-1">Mary welaýatynyň Mary şäheri</p>
                            <p class="footer-p">Galkynyş köçesi</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-8 col-md-4 col-sm-4 col-auto my-md-0 mt-5 order-sm-1 order-3 align-self-end">
                        </p>
                        <small class="rights">
                            <span>&#174; 2024</span>
                            Ähli hukuklar goralan.
                        </small>
                    </div>
                    <div class="col-xl-2 col-md-4 col-sm-4 col-auto order-1 align-self-end ">
                        <h6 class="footer-h6 mt-55 mt-2 text-muted bold-text">
                            <b>INSTITUTYŇ E-MAIL'Y</b>
                        </h6>
                        <small><span><i class="fa fa-envelope" aria-hidden="true"></i> marytaslama@gmail.com</span></small>
                    </div>
                    <div class="col-xl-2 col-md-4 col-sm-4 col-auto order-2 align-self-end ">
                        <h6 class="footer-h6 text-muted bold-text">
                            <b>HABARLAŞMAK ÜÇIN</b>
                        </h6>
                        <small><span><i class="fa fa-phone" aria-hidden="true"></i></span> +993 61 000000</small>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>
{% endblock %}
