{% extends "base.html" %}
{% load static %}
{% block css %}
    <link rel="stylesheet"
          type="text/css"
          href="{% static 'UniWeb/campus.css' %}">
{% endblock %}
{% block title %}UÝJ{% endblock %}
{% block nav %}
    <a class="navbar-brand" href="{% url 'home' %}" style="opacity: 0.8;">
        <img width="90rem" src="{% static 'UniWeb/images/logo.png' %}" alt="">
    </a>
    <button class="navbar-toggler collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarColor03"
            aria-controls="navbarColor03"
            aria-expanded="false"
            aria-label="Toggle navigation"
            style="background-color: #fff">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor03">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item pe-1">
                <a class="nav-link" href="{% url 'admissions_view' %}">
                    <p class="h6 poppins mb-lg-2 mb-0">Kabul edilişik</p>
                </a>
            </li>
            <li class="nav-item pe-1">
                <a class="nav-link active" href="{% url 'campus_view' %}">
                    <p class="h6 poppins mb-lg-2 mb-0">UÝJ</p>
                </a>
            </li>
            <li class="nav-item pe-1">
                <a class="nav-link" href="{% url 'about_view' %}" aria-current="page">
                    <p class="h6 poppins mb-lg-2 mb-0">Biz barada</p>
                </a>
            </li>
        </ul>
    </div>
{% endblock %}
{% block content %}
    <div class="conatiner-fluid top-fluid-container">
        <div class="container-xl">
            <div class="container-lg hero-heading px-0">
                <span class="gradient-heading">Talyplaryň ýaşaýyş toplumy</span>
            </div>
            <div class="container-lg heading-text-normal">
                <span>Işjeň, döredijilikli, ökde adamlaryň bilelikde okaýan, öwrenýän, ýaşaýan ýeri</span>
            </div>
            <div class="container-lg">
                <div class="row justify-content-center small-cards-all">
                    <div class="col-4 small-cards glass-container">
                        <span class="st-main">Demirýol</span>
                        <span class="st-sub">2.3km</span>
                    </div>
                    <div class="col-4 small-cards glass-container">
                        <span class="st-main">Awtobus duralgasy</span>
                        <span class="st-sub">100m</span>
                    </div>
                    <div class="col-4 small-cards glass-container">
                        <span class="st-main">Meýdany</span>
                        <span class="st-sub">120 000 m<sup>2</sup></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-xl my-content-container">
            <div class="container-lg gradient-heading px-0">Bilesigelijiligiňize öý</div>
            <div class="container-lg heading-text-normal">
                <span>Bu ýerde institutyň dürli toparlaryna degişli adamlaryň arasynda hyzmatdaşlyk we täzelik döretmäge, innowasiýa we taslama döretmäge giň mümkinçilik berilýär.</span>
            </div>
            <div class="container-lg mb-5">
                <div class="row justify-content-center glass-container wide-card-main">
                    <div class="col-4 wide-cards">
                        <span class="st-main">Ylmy iş üstünlikleri</span>
                        <span class="st-sub">6-njy (Döwlet)</span>
                    </div>
                    <div class="col-4 wide-cards">
                        <span class="st-main">Sport üstünlikleri</span>
                        <span class="st-sub">2-nji (Welaýat)</span>
                    </div>
                    <div class="col-4 wide-cards">
                        <span class="st-main">Sungat üstünlikleri</span>
                        <span class="st-sub">3-nji (Döwlet)</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid my-content-container-2">
        <div class="row">
            <div class="col-xl-6 col-lg-12 col-12 image-companion">
                <span class="sub-gradient-text">Ýaşyla bürenen seýilgähler</span>
                <br>
                <span class="medium-inter">Biziň UÝJ toplumymyzda 250-den gowrak agaç ösdürilýär</span>
                <div class="thick-gradient-line"></div>
                <span class="medium-inter" style="font-weight: 400;margin: 24px 0;">Meýletinçi talyplar seýilgähiň ösümliklerine we agaçlaryna yzygiderli seredýär</span>
            </div>
            <div class="col-xl-6 col-lg-12 col-12">
                <div class="glass-container image-container-fix">
                    <img src="{% static 'UniWeb/images/campus.png' %}"
                         alt="campus"
                         class="img-fluid">
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid my-content-container-2">
        <div class="row">
            <div class="col-xl-6 col-lg-12 col-12 image-companion">
                <span class="sub-gradient-text">Umumu ýaşaýyş jaýlary</span>
                <br>
                <span class="medium-inter"> UÝJ-lar talyplar bilen bilelikde arassa, rahat we durnukly ýagdaýda saklanylýar</span>
                <div class="thick-gradient-line"></div>
                <div class="container p-0 ms-2">
                    <div class="row glass-container wide-card-small">
                        <div class="col-xl-4 col-4 wide-card-items">
                            <span class="st-main-small">UÝJ №1</span>
                            <span class="st-sub-small">250</span>
                        </div>
                        <div class="col-xl-4 col-4 wide-card-items">
                            <span class="st-main-small">UÝJ №2</span>
                            <span class="st-sub-small">250</span>
                        </div>
                        <div class="col-xl-4 col-4 wide-card-items">
                            <span class="st-main-small">UÝJ №3</span>
                            <span class="st-sub-small">250</span>
                        </div>
                    </div>
                </div>
                <span class="medium-inter" style="font-weight: 400;margin: 2.4vmin 0;">Ähli UÝJ-lary instituta deň aralykda ýerleşdirilen</span>
            </div>
            <div class="col-xl-6 col-lg-12 col-12">
                <div class="glass-container image-container-fix">
                    <img src="{% static 'UniWeb/images/hostel.jpg' %}"
                         alt="hostel"
                         class="img-fluid">
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid my-container-fluid pb-0 mb-0 justify-content-center">
        <footer class="container-xl">
            <div class="row my-4 justify-content-center py-5">
                <div class="col-11">
                    <div class="row">
                        <div class="col-xl-8 col-md-4 col-sm-4 col-12 my-auto mx-auto a">
                            <img class="mb-5 mx-auto"
                                 width="180rem"
                                 src="{% static 'UniWeb/images/logo.png' %}"
                                 alt="">
                        </div>
                        <div class="col-xl-2 col-md-4 col-sm-4 col-12">
                            <h6 class="footer-h6 mb-3 mb-lg-4 bold-text text-muted">
                                <b>GYSGA SALGYLAR</b>
                            </h6>
                            <ul class="list-unstyled footer-ul">
                                <a class="footer-a footer-menu-links" href="{% url 'campus_view' %}">
                                    <li>UÝJ</li>
                                </a>
                                <a class="footer-a footer-menu-links" href="{% url 'admissions_view' %}">
                                    <li>Kabul edilişik</li>
                                </a>
                                <a class="footer-a footer-menu-links" href="{% url 'about_view' %}">
                                    <li>Biz barada</li>
                                </a>
                            </ul>
                        </div>
                        <div class="col-xl-2 col-md-4 col-sm-4 col-12">
                            <h6 class="footer-h6 mb-3 mb-lg-4 text-muted bold-text mt-sm-0 mt-5">
                                <b>SALGY</b>
                            </h6>
                            <p class="footer-p mb-1">Mary welaýatynyň Mary şäheri</p>
                            <p class="footer-p">Galkynyş köçesi</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-8 col-md-4 col-sm-4 col-auto my-md-0 mt-5 order-sm-1 order-3 align-self-end">
                        </p>
                        <small class="rights">
                            <span>&#174; 2024</span>
                            Ähli hukuklar goralan.
                        </small>
                    </div>
                    <div class="col-xl-2 col-md-4 col-sm-4 col-auto order-1 align-self-end ">
                        <h6 class="footer-h6 mt-55 mt-2 text-muted bold-text">
                            <b>INSTITUTYŇ E-MAIL'Y</b>
                        </h6>
                        <small><span><i class="fa fa-envelope" aria-hidden="true"></i> marytaslama@gmail.com</span></small>
                    </div>
                    <div class="col-xl-2 col-md-4 col-sm-4 col-auto order-2 align-self-end ">
                        <h6 class="footer-h6 text-muted bold-text">
                            <b>HABARLAŞMAK ÜÇIN</b>
                        </h6>
                        <small><span><i class="fa fa-phone" aria-hidden="true"></i></span> +993 61 000000</small>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    </div>
{% endblock %}
